.DS_Store
Build
iOS Framework
Mac Framework
Plug.xcodeproj/project.xcworkspace/xcshareddata
Plug.xcodeproj/project.xcworkspace/xcuserdata/ben.xcuserdatad/UserInterfaceState.xcuserstate
Plug.xcodeproj/project.xcworkspace/xcuserdata
Plug.xcodeproj/xcuserdata/ben.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
